body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 50px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(211, 95, 95);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
}
